= simple_form_for(@trip) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, placeholder: "Give a name to your trip, ex: Cool trip in a van with nice people"
    = f.input :departure_point
    = f.input :arrival_point
    = f.input :started_at, as: :string, input_html: {class: 'date-picker'}
    = f.input :ended_at, as: :string, input_html: {class: 'date-picker'}
    = f.input :flexible_date, label: "Are these dates flexible?"
    = f.input :cotraveller
    = f.input :phone, as: :tel, label: "Your phone number"
      
  .form-actions
    = f.button :submit
