.col-xs-7
  .trip.description
    .trip.location
      .label.label-warning= trip.departure_point
      .fa.fa-share
      .label.label-warning= trip.arrival_point
    .trip.core
      %h5.name
        = trip.name
        - if trip.cotraveller.present?
          | with
          = trip.cotraveller    
    .trip.dates
      - if trip.started_at
        Departure on 
        #{trip.started_at.strftime("%d %B %Y")}
        |
      - if trip.ended_at
        Arrival on 
        #{trip.ended_at.strftime("%d %B %Y")}
      - if trip.flexible_date.present?
        (the arrival date is flexible!)
      = trip.phone

.col-xs-3
  .trip.join
    = link_to trip_path(trip), class: "btn btn-danger" do
      I want to join!

.col-xs-2    
  .trip.actions
    - if can? :update, trip
      = link_to edit_trip_path(trip), class: "btn btn-default" do
        %b.fa.fa-pencil-square-o
    - if can? :destroy, trip
      = link_to trip, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default" do
        %b.fa.fa-times
  