- provide(:title, "Travel offers")

.page-title
  %h1 join a travel
  
.trips

  .search 
    = form_tag trips_path, method: :get do
      = text_field_tag :search, params[:search], placeholder: "Search"
      = submit_tag "Search", class: "btn btn-default", :name => nil
  %br
  
  - if @trips.empty?
    .no-result There are no travel offers for you yet... You can post your own travel offer to find co-travellers!
  - else 
    = render @trips
  %br
  .new-trip
    = link_to 'Post a new travel offer', new_trip_path, class: "btn btn-warning"
