%jumbotron  

.page-title
  %h1 Get on !
    
.show-trip
  .subtitle-without-border
    %h4 travellers
    = @trip.user.name
    - if @trip.cotraveller
      with
      = @trip.cotraveller
    %br
    %h4 description
    = @trip.name      
    %br
    %h4 trip details
    %b.fa.fa-map-marker
    This trip goes from
    = @trip.departure_point
    to
    = @trip.arrival_point
    %br
    - if @trip.started_at
      %b.fa.fa-calendar
      We will leave on
      #{@trip.started_at.strftime("%d %B %Y")}
      %br
    - if @trip.ended_at
      %b.fa.fa-calendar
      We will arrive on 
      #{@trip.ended_at.strftime("%d %B %Y")}
    - if @trip.flexible_date.present?
      = "We are flexible on the dates, contact us to know more!"
    %br
    %h4 contact details
    - if @trip.phone
      %b.fa.fa-phone
      \|
      = @trip.phone
    %br
    - if @trip.email
      %b.fa.fa-envelope-o
      \|
      = @trip.email

.trip-actions
  - if can? :update, @trip
    = link_to edit_trip_path(@trip), class: "btn btn-default" do
      %b.fa.fa-pencil-square-o
  = link_to 'Back', trips_path, class: "btn btn-default"