.travel  
  .col-xs-8
    .travel.well
      .travel.header
        .label.label-warning= "TRIP"
        = travel.visit
      .travel.else
        .travel.dates
          Started on
          #{travel.started_at.strftime("%d %B %Y")}
          Ended on 
          #{travel.ended_at.strftime("%d %B %Y")}
        .travel.route  
          From
          = travel.departure_point
          To
          = travel.arrival_point
        .travel.companions
          - if travel.cotraveller
            With
            = travel.cotraveller
        .travel.description  
          = travel.memory
  
  .col-xs-4
    .row.recommendation
      = link_to new_travel_opinion_path(travel), class: "btn btn-default" do
        %b.fa.fa-envelope-o 
        Ask for a recommendation
    .row.actions
      .travel.actions
        - if can? :edit, travel
          = link_to edit_travel_path(travel), class: "btn btn-default" do
            %b.fa.fa-pencil-square-o   
        - if can? :destroy, travel
          = link_to travel, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default" do
            %b.fa.fa-times