.row.job 
  .col-xs-8
    .well
      .label.label-info= job.code
      .name
        = job.position
        at
        = job.name
      .dates
        From #{job.started_at.try(:strftime, "%d %B %Y")}
        To #{job.ended_at.try(:strftime,"%d %B %Y")}   
      .places
        = job.city
        |
        = job.location
      .description
        = job.description
      - job.recommendations.each do |recommendation|
        .recommendation
          - if recommendation.comment
            %b.fa.fa-comment-o
            = recommendation.comment
            %br
          - if recommendation.note
            - 5.times do |i|
              %i.fa{class: "fa-star#{'-o' if i+1 > recommendation.note}"}
       
  .col-xs-4
    - if can? :edit, job
      .ask-recommendation
        = link_to new_job_recommendation_path(job), class: "btn btn-default" do
          %b.fa.fa-envelope-o
          Ask for a recommendation!
    .actions
      - if can? :edit, job
        = link_to edit_job_path(job), class: "btn btn-default" do
          %b.fa.fa-pencil-square-o   
      - if can? :destroy, job
        = link_to job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do
          %b.fa.fa-times
