.job.well
  .header
    .label.label-info= job.position
    = job.location
  .description
    = job.description
    %br
    %strong Started at
    #{job.started_at.strftime("%F")}
    %br
    %strong Ended at 
    #{job.ended_at.strftime("%F")}
    %br
    = link_to "Edit", edit_job_path(job)