.job 
  .col-xs-8
    .job.well
      .label.label-info= job.code
      .job.name
        = job.position
        at
        = job.name
      .job.else
        .job.dates
          From
          #{job.started_at.strftime("%d %B %Y")}
          To 
          #{job.ended_at.strftime("%d %B %Y")}   
        .job.places
          = job.city
          |
          = job.location
        .job.description
          = job.description
       
  .col-xs-4
    .row.recommendation
      = link_to "Ask for a recommendation!", new_job_recommendation_path(job), class: "btn btn-default"
    .row.actions
      .job.actions
        - if can? :edit, job
          = link_to edit_job_path(job), class: "btn btn-default" do
            %b.fa.fa-pencil-square-o   
        - if can? :destroy, job
          = link_to job, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default" do
            %b.fa.fa-times
