= simple_form_for(current_user, multipart: true) do |f|
  
  .row
    .col-md-4
      .subtitle
        %h4 main information
      %br
      .edit-avatar
        = "Upload a profile picture"
        = f.file_field :avatar
      %br
      .edit-form
        = f.input :name, label: "First Name and Last Name", placeholder: "Ex: John Doe"
        = f.input :email, label: "Email address", placeholder: "Ex: john.doe@example.com"
        = f.input :phone, as: :tel, label: "Phone number", placeholder: "+61 08 9341 6843"
        = f.input :birth, as: :string, label: "Date of birth", input_html: {class: 'birthday-picker'}
        = f.input :country, label: "Country of origin"
        = f.input :current_location, label: "Current location", placeholder: "Ex: Sydney"
        = f.input :driving_licence, label: "Do you have a driving licence? Tick for yes!"
    
    .col-md-8
      .subtitle
        %h4 professional information
      %br
      .edit-form
        = f.input :headline, label: "Main job title", placeholder: "Ex: Barman"
        = f.input :about_me, label: "About - Profile description", placeholder: "Ex: Holding a Working-Holiday Visa, I am looking for job opportunities around Australia. I am a dynamic, motivated and fast-learning person with good communication and presentation skills etc."
        -# = f.input :sector, label: "Prefered sectors of activity", placeholder: "Ex: Hotel, restaurants"
        = f.input :skills, label: "Skills"
        = f.input :computer_skills
        = f.input :languages
        = f.input :linkedin_url, label: "Link your profile to your Linkedin account!"
    
      .edit-actions
        = f.submit 'Update', class: 'btn btn-info', data: { disable_with: "Please wait..." }
        %br

