-provide(:title, "Users")
%h1 Liste des PVTistes en Australie

%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Job

  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.name
          = link_to "Profile",  user_path(user)
          - if can? :update, user
            = link_to 'Edit', edit_user_registration_path(user)
          - if can? :destroy, user
            = link_to 'X', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= user.email
        %td= user.headline
