- provide(:title, "My profile")

.col-xs-4
  .information
    = @user.birth
    %b.fa.fa-map-marker
      - if @user.current_location.blank?
        On the road
      - else
        = @user.current_location
    %br
    %b.fa.fa-envelope
      = @user.email    
    |
    %b.fa.fa-phone
      = @user.phone
    %br
    - if @user.driving_licence
      %b.fa.fa-car
        Driving Licence 
 
  .sectors
    Blabla

  .skills
    = @user.skills
  
  .languages
    Blabla
  
  .computer
    Blabla
 
.col-xs-8
  .row.header
    %h1.strong 
      = @user.name
  .well.well-lg
    %strong About me
    %br
      = @user.about_me

  - if can? :edit, @user 
    = link_to profile_edit_path, class: "btn btn-default" do
      %b.fa.fa-pencil-square-o
  
  - if can? :edit, @user
    .row.add
      .col-xs-6
        = link_to 'Add a job', new_job_path, class: "btn btn-info"
      .col-xs-6
        = link_to 'Add a travel', new_travel_path, class: "btn btn-success"

  .experiences  
    %h2 Latest experiences
    .row.jobs
      = render @user.jobs 
    %br
    .row.travels
      = render @user.travels 

  .row.back
    = link_to 'Back', users_path, class: "btn btn-default"