- provide(:title, "My profile")

.leftpart  
  .col-sm-4
    .well.leftinformation
      .well.picture
        - if @user.avatar
          .user.image
            = image_tag @user.avatar.url(:square), :size => '150x150'
        - else 
          = "Click here to add a picture"
    
      .well.information
        .label.label-default= "main information"  
        .job.information
          .birth
            - if @user.birth
              Born on
              #{@user.birth.strftime("%d %B %Y")}
          .user.location
            %b.fa.fa-map-marker
            - if @user.current_location.blank?
              On the road
            - else
              = @user.current_location
          .user.email
            - if @user.email
              %b.fa.fa-envelope
              = @user.email    
          .user.phone
            - if @user.phone
              %b.fa.fa-phone
              = @user.phone
          .user.driving
          - if @user.driving_licence
            %b.fa.fa-car
            Driving Licence 
    
      .well.sectors
        .label.label-default= "sectors"  
        %br
        .sectors.content
          - if @user.sector
            = @user.sector
          - else
            - if can? :edit, @user
              = link_to profile_edit_path, class: "btn btn-default" do
                %b.fa.fa-pencil-square-o
                Add sectors
    
      .well.skills
        .label.label-default= "skills"
        %br  
        .skills.content
          - if @user.skills
            = @user.skills
          - else
            - if can? :edit, @user
              = link_to profile_edit_path, class: "btn btn-default" do
                %b.fa.fa-pencil-square-o
                Add skills
      
      .well.languages
        .label.label-default= "Languages"  
        %br
        .languages.content
          - if @user.languages
            = @user.languages
          - else
            - if can? :edit, @user
              = link_to profile_edit_path, class: "btn btn-default" do
                %b.fa.fa-pencil-square-o
                Add languages
      
      .well.computer
        .label.label-default= "computer skills"  
        %br
        .computer.content
          - if @user.computer_skills
            = @user.computer_skills
          - else
            - if can? :edit, @user
              = link_to profile_edit_path, class: "btn btn-default" do
                %b.fa.fa-pencil-square-o
                Add computer skills

.rightpart  
  .col-sm-8
    .row.header
      %h1.strong 
        = @user.name
    .well.well-lg.about
      .aboutme
        %strong About me
      .aboutmetext
        = @user.about_me
  
    - if can? :edit, @user 
      = link_to profile_edit_path, class: "btn btn-default" do
        %b.fa.fa-pencil-square-o
        Edit my profile
    - if can? :edit, @user
      = link_to edit_user_registration_path(@user), class: "btn btn-default" do
        %b.fa.fa-lock
        Edit my login information
    %br
  
    .experiences  
      %h2 Latest experiences
      - if can? :edit, @user
        .row.add
          .col-xs-6
            = link_to 'Add a job', new_job_path, class: "btn btn-info"
          .col-xs-6
            = link_to 'Add a travel', new_travel_path, class: "btn btn-warning"
      %br
      .row.jobs
        = render @user.jobs.reverse
      %br
      .row.travels
        = render @user.travels.reverse
  
      .row.back
        = link_to 'Back', travels_path, class: "btn btn-default"