- provide(:title, "My profile")

%h1.strong My profile 

.row
  .col-sm-4
    .well
      %i My email:
      #{@user.email}
      %br
      %i My location:
      - if @user.current_location.blank?
        On the road
      - else
        = @user.current_location
      %br
      %i My phone number:
      = @user.phone
      %br
      - if @user.driving_licence
        .label.label-info Driving Licence 
    = link_to 'Edit', profile_edit_path
    = link_to 'Back', users_path
    = link_to 'Add a job', new_job_path
    = link_to 'Add a travel', new_travel_path
    
  .col-sm-8
    .label.label-primary
      = @user.name
      %br
      %br
      = @user.headline
      %br
      %br
    .well.well-sm
      %strong About me
    .well.well-lg= @user.about_me
    %br
    %br
    %h2 LATEST JOB EXPERIENCES
    = render @user.jobs 

    
	
  
