- provide(:title, "My profile")

%h2 My profile

.row
  .col-sm-4
    .well
      = @user.email
      %br
      = @user.name
      %br
      - if @user.current_location.blank?
        On the road
      - else
        = @user.current_location
      %br
      - if @user.driving_licence
        .label.label-info Driving Licence 
      %br
      = @user.phone
    = link_to 'Edit', profile_edit_path
    = link_to 'Back', users_path
    
  .col-sm-8
    %h1= @user.headline
    .well= @user.about_me
    = render @user.jobs 
    
	
  
