.page-title
  %h1 Log in

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.input :email, autofocus: true, placeholder: "tim@example.com"
  = f.input :password, input_html: {autocomplete: "off"}
  = f.input :remember_me, as: :boolean
  = f.submit 'Log in', class: 'btn btn-info'

= render "devise/shared/links"
