.offer
  .col-xs-9
    .sector
      .label.label-warning= offer.sector.code
    .sector-img
      %b.fa{class: offer_image(offer)}
    .core
      %h4
        = link_to offer.position, offer, class: "offer-position"
        |
        = offer.employer.city
        ;
        = offer.employer.location
      %b.name
        = offer.employer.name
      %br
      .description       
        = offer.description
      .dates
        Posted on #{offer.created_at.strftime("%B %Y")}
        |
        Starts on #{offer.started_at}
    

  .col-xs-3
    .actions
      - if can? :update, offer
        = link_to edit_offer_path(offer), class: "btn btn-default" do
          %b.fa.fa-pencil-square-o
      - if can? :destroy, offer
        = link_to offer, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default" do
          %b.fa.fa-times
  
       
  