.offer
  
  .row
    .col-sm-3
      .label.label-danger.pull-left= offer.sector.code
      = offer.sector.image
      .header
        %h3
          = link_to offer.position, offer, class: "btn btn-primary"
      
    .col-sm-6
      %p  
      %before
      %strong
        = offer.employer.name
        |
      %i
        = offer.employer.location
      %br
      %after
      %i Available as of
      #{offer.started_at}
    .col-sm-3
      .actions
        - if can? :update, offer
          = link_to edit_offer_path(offer), class: "btn btn-default" do
            %b.fa.fa-pencil-square-o
        - if can? :destroy, offer
          = link_to offer, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default" do
            %b.fa.fa-times
           
  