.offer
  
  .row
    .col-sm-3
      = link_to image_tag offer.sector.image(:icon), class: "img"
      %br
      .label.label-danger= offer.sector.code
    .col-sm-8
      %h3
        = link_to offer.position, offer
        |
        %i
        = offer.employer.location
      %p  
      %before
      %strong
        = offer.employer.name
      %br
        = offer.description
      %br
      %after
      %i Available as of
      #{offer.started_at}
    .col-lg-1
      .actions
        - if can? :update, offer
          = link_to edit_offer_path(offer), class: "btn btn-default" do
            %b.fa.fa-pencil-square-o
        - if can? :destroy, offer
          = link_to offer, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default" do
            %b.fa.fa-times
           
  