%footer.footer
  .line-footer
    = link_to "About us", about_path
    = " | "
    = link_to "Contact", contact_path    
    = " | "
    = link_to "Travel offers", trips_path
    = " | "
    = link_to "Job offers", jobs_path
    = " | "
    Terms & conditions 
    = " | "
    Confidentiality

    