<header class="navbar navbar-fixed-top navbar-inverse">
     <div class="container">
        <%= link_to "home", '#', id: "logo" %>
	    <nav>
		   <ul class="nav navbar-nav navbar-right">
				<li><%= link_to "About", '#' %></li>
				<li><%= link_to "Help", '#' %></li>
				<li><%= link_to "Users", '#' %></li>
				<li><%= link_to "Articles", '#' %></li>
				<li><%= link_to "Contact", '#' %></li>
				<li><%= link_to "Help", '#' %></li>
			</ul>
		</nav>
  </div>
</header>