%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#myNavbar"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Home", root_path, id: "logo", class: "navbar-brand"
    #myNavbar.collapse.navbar-collapse
      - if !user_signed_in?
        .navbar-right{style: "margin-right: 0; text-align: center;"}
          = link_to "Log in", new_user_session_path, class: 'btn btn-info navbar-btn', id: 'loginBtn'
      %ul.nav.navbar-nav.navbar-right{style: "margin: 0 15px"}
        %li= link_to "About", about_path
        %li= link_to "Travel offers", trips_path
        %li= link_to "Job offers", offers_path
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
              %span= current_user.name
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Edit my profile", profile_edit_path(@user)
              %li= link_to "My profile", user_path(@user)
              %li.divider
              %li= link_to "Log out", destroy_user_session_path, method: :delete