!!!
%html
  = render 'layouts/head'
  %body
    .wrapper
      .header
        %before
        - if current_page?(root_path)
          = render 'layouts/home_header'
        - else 
          = render 'layouts/header'
        %after
        = render 'layouts/navbar_admin' if user_signed_in? && current_user.admin?
      = render 'layouts/navbar'
      .container
        = render 'layouts/flash_messages'
        = yield
      .footer
      = render 'layouts/footer'
